scripts/* export-ignore
.flake8 export-ignore
.gitattributes export-ignore
.gitignore export-ignore
Makefile export-ignore
README.md export-ignore
resources.qrc export-ignore
pylintrc export-ignore
pb_tool.cfg export-ignore
plugin_upload.py export-ignore
